# Yucatan Peninsula Hurricanes

## 1. Archive exploration

## 2. Data loading and preliminary exploration

In [2]:
# Import neccessary packages
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
# Read in data
df = pd.read_csv("data/hf071-01-hurricanes.csv")

# Take a look at first few rows
df.head()

    code  start.date    end.date  number name  ss track rf.max
0  Y1852  1852-10-07  1852-10-08       5  NaN   2     O     F1
1  Y1857  1857-09-28  1857-09-28       4  NaN   2     N     F1
2  Y1861  1861-08-17  1861-08-17       2  NaN   1     O     Nd
3  Y1864  1864-08-31  1864-08-31       3  NaN   1     S     F1
4  Y1865  1865-09-11  1865-09-11       4  NaN   2     O     F1

In [5]:
# How many NAs per column? 
df.isnull().sum()

code           0
start.date     0
end.date       0
number         0
name          72
ss             0
track          0
rf.max         0
dtype: int64

In [6]:
# Take a look at additional characteristics like dimensions, data structure type per column, etc.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   code        105 non-null    object
 1   start.date  105 non-null    object
 2   end.date    105 non-null    object
 3   number      105 non-null    int64
 4   name        33 non-null     object
 5   ss          105 non-null    int64
 6   track       105 non-null    object
 7   rf.max      105 non-null    object
dtypes: int64(2), object(6)
memory usage: 6.7+ KB

Notably, there are 72 missing observations in `name`.

## 3. Brainstorm

In this session we want to answer the following question:
   
   **How many hurricanes with Saffir-Simpson category 5 have been registered and what was their duration?**
    
a. Individually, write down step-by-step instructions on how you would wrangle the df data frame to answer the question. Do not code anything yet. Remember: It’s okay if you don’t know how to code each step. The important thing is to have an idea of what you’d like to do.

b. Discuss your step-by-step instructions with your team. What do you see as potential challenges to implementing your plan?

c. As a team, select an initial data wrangling plan for answering the question.

In [8]:
#a. How to wrangle? 
df.head()

    code  start.date    end.date  number name  ss track rf.max
0  Y1852  1852-10-07  1852-10-08       5  NaN   2     O     F1
1  Y1857  1857-09-28  1857-09-28       4  NaN   2     N     F1
2  Y1861  1861-08-17  1861-08-17       2  NaN   1     O     Nd
3  Y1864  1864-08-31  1864-08-31       3  NaN   1     S     F1
4  Y1865  1865-09-11  1865-09-11       4  NaN   2     O     F1

## 4. Data wrangling
Use your plan as a starting point to answer the question.

- You may (or not) need to look online to carry out some of the steps in your plan. It is completely fine to seek help online! Resourceful troubleshooting is a key skill in data science.
- It’s ok if your initial plan changes as you work with the data and discuss challenges with your team! This brainstorm is to create a shared starting point.

## 5: Visualize Saffir-Simpson categories across time
a. Create a scatter plot of the start date of the hurricanes against the Saffir-Simpson scale. Use matplotlib to customize your graph, including updating the tick labels to be only 1, 2, 3, 4, and 5 since the Saffir-Simpsn scale does not take decimal values.

b. Analyze your plot and write (in full sentences!) any trends that you observe.

 **Don’t forget to commit, pull, and push.**

## 6. Collect your code and explain your results
a. In a new code cell, collect all the relevant code to create a streamlined workflow to obtain the final data to answer the question. Your code cell should:
- Only print the final results.
- Not include output from intermediate variables or checks.
- Not include methods or functions that do not directly contribute to the analysis (even if they don’t print anything ex: df.head()).
- If appropriate, combine methods using code chaining instead of creating intermediate variables.
- Comment your code following our class comments guidelines.
- Use appropriate line breaks and indentation to make code readable.




b. Write a full sentence explaining your answer to the question in (3). Don’t forget to include units. You may also want to include any insights about the rest of the data for the Category 5 hurricanes.